<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="false"
        android:description="@string/module_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/module_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:resource="@string/module_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="101" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <receiver
            android:name=".notification.OnlineCompletionNotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.reamicro.fix.ONLINE_COMPLETION_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".notification.OnlineCompletionNotificationActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/NoDisplayTheme" />

        <service
            android:name=".notification.OnlineCompletionNotificationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
